.mt-7 {
  margin-top: 5rem !important;
}
.pt-7 {
  padding-top: 5rem !important;
}
.pb-100 {
  padding-bottom: 100% !important;
}
.w-15 {
  width: 15% !important;
}

.svgInvert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
/* medium breakpoint media queries */
@media (min-width: 768px) {
  .w-md-15 {
    width: 15% !important;
  }
  .w-md-45 {
    width: 45% !important;
  }
  .w-md-7 {
    width: 7% !important;
  }
}
/* xl media queries */
@media (min-width: 1200px) {
  .w-xl-30 {
    width: 30% !important;
  }
  .m-xl-lr {
    margin: 0 13rem !important;
  }
  .p-xl-lr {
    padding-left: 13rem !important;
    padding-right: 13rem !important;
  }
  .w-xl-5 {
    width: 5% !important;
  }
  .w.xl-15 {
    width: 15% !important;
  }
}
