.mt-7 {
  margin-top: 5rem !important;
}
.pt-7 {
  padding-top: 5rem !important;
}
.pb-100 {
  padding-bottom: 100% !important;
}
.pb-100vh {
  padding-bottom: 100vh !important;
}
.pb-7 {
  padding-bottom: 7rem !important;
}
.pb-21 {
  padding-bottom: 21rem !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.svgInvert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.display-none {
  display: none !important;
}
/* 430px media queries */
@media (min-width: 430px) {
  .w-430px-12 {
    width: 12% !important;
  }
}
/* small breakpoint media queries */
@media (min-width: 576px) {
  .w-sm-5 {
    width: 5% !important;
  }
  .w-sm-10 {
    width: 10% !important;
  }
  .px-sm-6 {
    padding: 0rem 5rem 21rem 5rem !important;
  }
  .px-sm-5 {
    padding: 1rem 5rem !important;
  }
}
/* medium breakpoint media queries */
@media (min-width: 768px) {
  .w-md-15 {
    width: 15% !important;
  }
  .w-md-45 {
    width: 45% !important;
  }
  .w-md-7 {
    width: 7% !important;
  }
  .m-md-lr-10 {
    margin: 0 10rem !important;
  }
  .px-md-10 {
    padding: 1rem 10rem 20rem 10rem !important;
  }
  .px-md-9 {
    padding: 0 9rem 13rem 9rem !important;
  }
}
/* large media queries */
@media (min-width: 992px) {
  .list-group {
    flex-direction: row;
  }
  .navbar-expand-lg,
  .navbar-collapse {
    align-items: baseline;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .w-lg-15 {
    width: 15% !important;
  }
  .w-992px-10 {
    width: 10% !important;
  }
  .w-992px-100 {
    width: 100% !important;
  }
  .px-lg-15 {
    padding: 0 15rem !important;
  }
  .px-lg-10 {
    padding: 1rem 15rem 20rem 15rem !important;
  }
  .w-lg-10 {
    width: 10% !important;
  }
  .w-lg-43 {
    width: 43% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .justify-content-lg-end {
    justify-content: end;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-initial {
    display: initial !important;
  }
}
/* xl media queries */
@media (min-width: 1200px) {
  .w-xl-30 {
    width: 30% !important;
  }
  .m-xl-lr {
    margin: 0 13rem !important;
  }
  .p-xl-lr {
    padding-left: 13rem !important;
    padding-right: 13rem !important;
  }
  .w-xl-5 {
    width: 5% !important;
  }
  .w.xl-15 {
    width: 15% !important;
  }
  .w-xl-32 {
    width: 32% !important;
  }
  .list-group {
    flex-direction: row !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
  .w-xl-55 {
    width: 55% !important;
  }
  .navbar-expand-lg,
  .navbar-collapse {
    align-items: baseline;
  }
  .px-xl-10 {
    padding: 0 10rem !important;
  }
  .px-xl-20 {
    padding: 1rem 20rem 24rem 20rem !important;
  }
}
